<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <service
            android:name=".vpn.YandexGuestRefreshService"
            android:process=":yandex_guest"
            android:exported="false" />
        <activity
            android:name=".vpn.YandexGuestActivity"
            android:process=":yandex_guest"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.LevikVpn" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".vpn.RelayVkAuthActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LevikVpn" />
    </application>
</manifest>
